body {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d212b;
  font-family: monospace;
}

div {
  position: relative;
  width: 25vw;              /* Smaller width */
  height: 8vw;              /* Smaller height */
  line-height: 5vw;         /* Adjust line-height to match height */
  text-align: center;
  color: #252B37;
  background-color: #151823;
  border-radius: 10px;      /* Slightly rounded corners */
  border: 2px solid #0fffc1; /* Stroke (border) with color */
  animation: textColor 10s ease infinite;
}

div:after {
  position: absolute;
  content: "";
  top: 2.5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  filter: blur(2.5vw); /* Reduced blur to match smaller div */
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  border-radius: 10px; /* Match border radius to main div */
  animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}
